@charset "UTF-8";
/* CSS Document */

html {
	background-color: white;
	font-family: helvetica;
}


.submitmain {

	margin-left: 35%;
	padding:5px;
background-color: white;
	font-family: Corbel;
}

.email {
background-color: white;
	font-family: Times New Roman;
	font-size: 64px;
}
	
.resize {
    width: 400px;
    height: auto;
}



